<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <connectionStrings>
      <add name="DBConn" connectionString="Filename=FS_DataStr.db;Connection=direct;Password=44002.3;"/>
    </connectionStrings>
</configuration>
